@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    width: 80%;
    margin: 0 auto;
}

h2{
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 700;
}

.content-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    all: unset;
    margin-top: 30px;
    background-color: #333333;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 23px 43px;
    cursor: pointer;
}
/* button:hover{
    color: #333333;
    background-color: white;
    border: 1px solid;
} */

.content-img img{
    width: 540px;
    height: 447px;
}

.content-info h1{
    font-size: 30px;
    font-family: 'Space Mono', monospace;
}

.content-info p{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
}
.footer{
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}